<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.ikhwankoto.layout">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".uI.material.FabActivity"></activity>
        <activity android:name=".uI.material.DialogActivity" />
        <activity android:name=".uI.material.CollapsingToolbarActivity" />
        <activity android:name=".uI.material.CheckboxActivity" />
        <activity android:name=".uI.material.CardActivity" />
        <activity android:name=".uI.material.bottomNavigation.BottomNavigationActivity" />
        <activity android:name=".uI.recyclerView.visitablePattern.RvVisitableActivity" />
        <activity android:name=".uI.customView.CustomView1Activity" />
        <activity android:name=".uI.recyclerView.multiViewHolder.MultiVhActivity" />
        <activity android:name=".uI.TextViewActivity" />
        <activity android:name=".uI.recyclerView.precomputedText.RvPrecomputedTextActivity" />
        <activity
                android:name=".uI.recyclerView.multiSelect.RvMultiSelectActivity"
                android:theme="@style/RvMultiSelectTheme" />
        <activity android:name=".uI.RatingBarActivity" />
        <activity android:name=".uI.material.MaterialButtonActivity" />
        <activity android:name=".uI.material.ChipActivity" />
        <activity android:name=".uI.material.buttomSheet.ButtomSheetActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uI.material.ButtomAppBarActivity" />
        <activity android:name=".uI.material.TextInputActivity" />
    </application>

</manifest>